.form {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 35px;
    gap: 20px;
}

@media (max-width: 600px) {
    .form {
        grid-template-columns: 1fr;
        grid-template-rows: 35px 35px;
    }
}

.form__input {
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

.form__input::placeholder {
    color: #ccc;
    font-weight: 200;
}


.form__button {
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}