.section {
    background-color: #fff;
    margin-bottom: 5px;
    box-shadow: 7px 22px 58px -49px rgba(66, 68, 90, 1);
}

.section__header {
    padding: 25px;
    margin: 0;
    border-bottom: 2px solid #eee;
}

.section__body {
    padding: 25px;
}